* {
  font-family: 'lato', sans-serif;
  font-size: 15px;
}

h1 {
  margin-left: 19%;
  margin-top: 8%;
  font-size: 29px;
}

h2 {
  font-size: 22px;
}

.holder {
  display: flex;
  margin: 0 20%;
  gap: 5%;
}

.board {
  width: 40%;
}

.recent-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 17px;
  width: 35%;
}

input {
  padding: 2%;
  border: solid black 2px;
}

ul {
  display: flex;
  flex-direction: column;
  border: solid black 2px;
  padding-left: 0;
  list-style: none;
}

li {
  padding: 3%;
  font-weight: 700;
}

li:nth-child(even) {
  background-color: #efefef;
}

.submit {
  width: 70px;
  display: flex;
  align-self: flex-end;
}


